@media (min-width: 600px){

    h1{
        font-size: 2rem;    
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        height: 10vw;
        margin-right: 1rem;
    }
    #menu {
        display: none; 
    }
    
    
    .navigation {
        
        flex-direction: row;
        /* flex: 1 1 100%; */
        justify-content: space-around;
        
    }
    
    .navigation a {
        width: 100%;
        display: block;
        
    }

    h2{
        font-size: 1.8rem;
    }
    .display{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .view{
        text-align: center;
        font-family: var(--heading-font);
        font-size: 1.2rem;
    }


    /*BUTTONS GRID AND LIST*/

    #grid{
        font-family: var(--heading-font);
        
        color: black;
        background-color: rgb(179, 227, 255);
        border: 1px solid rgb(0, 0, 0);
        
        border-radius: 10em ;
        margin: 1rem;
        font-size: 1.1rem;
        /* padding: 15px; */
        cursor: pointer;
    }
    #list{
        font-family: var(--heading-font);
        
        color: black;
        background-color: rgb(179, 227, 255);
        border: 1px solid rgb(0, 0, 0);
        
        border-radius: 10em ;
        margin: 1rem;
        font-size: 1.1rem;
        /* padding: 15px; */
        cursor: pointer;
    
    }

    #grid:hover{
        background-color:white;
        color:black;
        transition: .3s;
        transform: scale(1.2); 
    }
    #list:hover{
        background-color: white;
        color:black;
        transition: .3s;
        transform: scale(1.2); 
    }














}