
@media (min-width: 600px) {



#menu {
	display: none; 
}


.navigation {
	
	flex-direction: row;
	/* flex: 1 1 100%; */
	justify-content: space-around;
	
}

.navigation a {
	width: 100%;
	display: block;
	
	
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr ;
    column-gap: .5rem;
    
}
/* .courses{
    background-color: rgb(136, 136, 236);
} */

.work{
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 8px 0px rgb(85, 82, 82);
    margin: 1rem;
}

.city{
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 8px 0px rgb(85, 82, 82);
    margin:1rem;
}
.city h2{
    margin-top: 15px;
}

.certificate{
    border: 1px solid black;
    margin: 2rem;
    
    box-shadow: 1px 1px 8px 0px rgb(85, 82, 82);
}

.certificate h2{
	margin-top: 15px;
    font-size: 2rem;
}
#coursesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 2px solid black; */
    /* width: 100%; */
   margin-bottom: 1.3rem;
}

.botones button{
    transition: transform 0.3s ease;
}

.botones button:hover{
    /* transition: transform 0.3s ease; */
    transform: scale(1.2); 
}



}