
@media (max-width: 600px){

/*---------------------- NAV BAR----------------------*/


/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #050;
    position: absolute;
    top: 10rem;
    right: 1.2rem;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
    font-weight: bold;
    
}

#menu.open::before {
    content: "❎";
}

.navigation {
    
    flex-direction: column;
    padding: 1rem;
    background-color: #050;
    list-style: none;
    background-color: #333;
    color: #fff;
}
.navigation.open {
    display: block;
}

.navigation a {
   /* display: flex;  */
    /* flex-direction: column; */
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
    
}

.active::before { 
    content: "📍";  /* just a wayfinding symbol for the user */
}



.container{
    display:block;   
}

.courses h2{
    margin-bottom: 1rem;
}
.courses ul{
    align-content: center;
    list-style: none;   
}


.city img{
   padding: 0;
}

.foo p{
    background-color: var(--color3);
    color: var(--color2);
    
    padding:.3rem;
    text-align: center;
    font-family: var(--paragraph-font);
}

}